.index-container {
	width: 100%;
	min-height: 100vh;
	position: relative;
	background-image: url('../../static/index/index-bg.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0 30rpx;
	box-sizing: border-box;
	overflow: hidden;
	padding-bottom: 30rpx;

	.right-btn-box {
		.sub-btn {
			position: fixed;
			z-index: 10;
			writing-mode: vertical-lr;
			text-align: center;
			line-height: 40rpx;
			right: 0;
			width: 40rpx;
			height: 106rpx;
			background: linear-gradient(180deg, #ffc7ba 0%, #ffc6bd 100%);
			border-radius: 16rpx 0px 0px 16rpx;
			border: 1px solid #ffffff;
			font-size: 20rpx;
			color: #ffffff;
		}

		.rule-btn {
			top: 70rpx;
		}

		.record-btn {
			top: 200rpx;
		}
		.make-btn {
			top: 330rpx;
		}
	}

	.rule-popup-box {
		.t-c {
			text-align: center;
		}

		.title {
			margin-top: 30rpx;
			font-size: 32rpx;
		}

		text {
			font-size: 28rpx;
			line-height: 50rpx;
		}
	}

	.img-bg {
		width: 100%;
		min-height: 100vh;
	}

	.head-box {
		position: relative;

		.start-img {
			position: absolute;
			width: 132rpx;
			height: 132rpx;
			right: 20rpx;
			// top: -78rpx;
		}

		.text1-img {
			// margin-top: 78rpx;
			margin-top: 100rpx;
			height: 78rpx;
			width: 552rpx;
			// background-image: url('../../static/index/text.png');
			// background-size: 100% 100%;
		}

		.text2-img {
			// margin-top: 24rpx;
			margin-top: 36rpx;
			height: 76rpx;
			width: 554rpx;
		}
	}

	.game-box {
		width: 100%;
		height: 730rpx;
		background-image: url('../../static/index/box-bg@2x.png');
		background-size: 100% 100%;
		// margin-top: 34rpx;
		margin-top: 46rpx;
		position: relative;

		.swiper-box {
			// padding-top: 190rpx;
			// height: 510rpx;
			height: 560rpx;
			// padding-top: 26rpx;
			transform: translate(0, -60rpx);

			.box-bg-item {
				display: flex;
				justify-content: center;
				position: relative;
				padding-top: 60rpx;

				.box-img {
					margin-top: 190rpx;
					width: 395rpx;
					height: 320rpx;
					animation: box-bounce 0.6s ease-out alternate-reverse infinite;
					// animation: blindbox 2s backwards linear infinite;
					// animation: shadow 1s ease-in .5s infinite;
					// &::after{
					// 	content: "";
					// 	z-index:9;
					// 	position: absolute;
					// 	background-image: url('../../static/index/finger@2x.png');
					// 	background-size: 100% 100%;
					// 	// border-radius: 20%;
					// 	left:100rpx;
					// 	bottom: 100rpx;
					// 	width: 150rpx;
					// 	height:150rpx;
					// }
				}

				.finger-bg {
					content: '';
					z-index: 9;
					position: absolute;
					background-image: url('../../static/index/finger@2x.png');
					background-size: 100% 100%;
					left: 55%;
					bottom: 60rpx;
					width: 150rpx;
					height: 150rpx;
					animation: blindbox2 1.5s backwards linear infinite;
				}

				.box-shadow {
					z-index: 9;
					position: absolute;
					border-radius: 20%;
					left: 50%;
					bottom: 60rpx;
					width: 200rpx;
					height: 30rpx;
					background-color: rgba(0, 0, 0, 0.3);
					filter: blur(3.5px);
					// transform: translateX(-50%);
					margin-left: -100rpx;
					animation: box-shadow 0.6s ease-out alternate-reverse infinite;
				}

				.price-img {
					position: absolute;
					right: 0rpx;
					top: 60rpx;
					width: 158rpx;
					height: 158rpx;
				}

				.box-tag {
					position: absolute;
					// width: 144rpx;
					padding: 0 12rpx;
					height: 52rpx;
					background-image: url('../../static/index/text-bg@2x.png');
					background-size: 100% 100%;
					font-size: 24rpx;
					text-align: center;
					line-height: 52rpx;
					border-radius: 24rpx;
					animation: white-shadow 1s ease-in 0.5s infinite;
				}

				.tag-box {
					.box-tag:nth-child(1) {
						// top: 104rpx;
						top: 164rpx;
						left: 154rpx;
					}

					.box-tag:nth-child(2) {
						// top: 136rpx;
						top: 196rpx;
						left: 366rpx;
					}

					.box-tag:nth-child(3) {
						// top: 198rpx;
						top: 258rpx;
						left: 484rpx;
					}

					.box-tag:nth-child(4) {
						// top: 182rpx;
						top: 242rpx;
						left: 90rpx;
					}
				}
			}
		}

		.left-arr {
			position: absolute;
			top: 234rpx;
			left: 0rpx;

			image {
				width: 112rpx;
				height: 118rpx;
			}

			text {
				width: 100%;
				position: absolute;
				bottom: 0;
				left: -35rpx;
				color: #ffffff;
				text-align: center;
				// opacity: 0.5;
				animation: flash 1s ease-in infinite;
			}

			.two-img {
				transform: translate(-70rpx, 0);
				animation: flash 1s ease-in infinite;
			}

			.one-img {
				animation: flash 1s ease-in 0.5s infinite;
			}
		}

		.right-arr {
			position: absolute;
			top: 234rpx;
			right: 0rpx;

			image {
				width: 112rpx;
				height: 118rpx;
			}

			text {
				width: 100%;
				position: absolute;
				bottom: 0;
				right: -35rpx;
				color: #ffffff;
				text-align: center;
				// opacity: 0.5;
				animation: flash 1s ease-in infinite;
			}

			.two-img {
				transform: translate(70rpx, 0);
				animation: flash 1s ease-in infinite;
			}

			.one-img {
				animation: flash 1s ease-in 0.5s infinite;
			}
		}

		.order-btn {
			width: 350rpx;
			height: 130rpx;
			margin: 0rpx auto 0 auto;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
			border-radius: 16rpx;
			// animation: shadow 1s ease-in .5s infinite;
			animation: blindbox 2s backwards linear infinite;

			image {
				width: 100%;
				height: 100%;
			}
		}
	}

	.banner-box {
		image {
			width: 100%;
			height: 320rpx;
			border-radius: 52rpx;
			margin-top: 100rpx;
		}
	}

	.overlay-box {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.popup-bg {
			width: 540rpx;
			height: 490rpx;
			background-image: url('../../static/index/modebg@2x.png');
			background-size: cover;
			color: #333333;
			font-size: 32rpx;
			text-align: center;
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: center;

			text {
				margin-top: 290rpx;
			}

			.sub-btn {
				width: 146rpx;
				height: 60rpx;
				color: #ffffff;
				background-color: #ffac95;
				border-radius: 50rpx;
				line-height: 60rpx;
				margin-top: 54rpx;
			}
		}
	}
}

@keyframes blindbox {
	0% {
		transform: scale(0.8);
		box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
	}

	25% {
		transform: scale(0.6);
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	}

	50% {
		transform: scale(1);
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
	}

	75% {
		transform: scale(0.6);
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	}

	100% {
		transform: scale(0.8);
		box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
	}
}

@keyframes blindbox2 {
	0% {
		transform: scale(0.8);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.8);
	}
}

@keyframes flash {
	0% {
		opacity: 1;
		filter: brightness(150%);
	}

	50% {
		opacity: 0.5;
		filter: brightness(100%);
	}

	100% {
		opacity: 1;
		filter: brightness(150%);
	}
}

// @keyframes shadow {
//   0% {
//     box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
//   }

//   50% {
//     box-shadow: 0 6px 10px rgba(0, 0, 0, .5);
//   }

//   100% {
//     box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
//   }
// }
@keyframes white-shadow {
	0% {
		box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
		opacity: 0.6;
	}

	50% {
		box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
		opacity: 1;
	}

	100% {
		box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
		opacity: 0.6;
	}
}

@keyframes box-bounce {
	0% {
		transform: translateY(20rpx);
	}

	100% {
		transform: translateY(-20rpx);
	}
}

@keyframes box-shadow {
	0% {
		transform: scale(0.75, 1);
	}

	// 50% {
	//   box-shadow: 0 6px 10px rgba(0, 0, 0, .5);
	// }

	100% {
		transform: scale(1, 0.75);
	}
}
