.wrap-header {
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: #d43c33;
    height: 84px;

    &-box {
        display: flex;
        align-items: center;
    }

    &-text {
        margin-left: 5px;
        font-size: 18px;
        color: #FFFFFF;
    }
}
.wrap-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    &-item {
        flex: 0.33;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        font-size: 15px;
        font-weight: 400;

        &-text {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 5px;
            color: #333333;
        }

        &-hover {
            color: #d43c33;
            border-bottom: 2px solid #d43c33;
        }
    }
}