.nut-searchbar__content {
    border-radius: 15px !important;
}

.nut-searchbar {
    padding: 15px 10px !important;
}

.wrap {
    &-recommend {
        padding: 15px 10px 0;
        border-top: 1px solid rgba(0, 0, 0, .1);

        &-title {
            font-size: 12px;
            color: #666;
            line-height: 12px;
            margin-bottom: 10px;
        }

        &-body {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &-item {
                padding: 3px 10px;
                border-radius: 13px;
                border: 1px solid rgba(0, 0, 0, .1);
                font-size: 14px;
                color: #333;
                margin: 0 10px 8px 0;
            }
        }
    }

    &-suggest {
        display: flex;
        align-items: center;
        flex: 1;

        &-icon {
            flex: .1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-text {
            flex: .9;
            padding: 10px 0;
            font-size: 15px;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: normal;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }
    }
}